<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card text-center shadow-lg" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title" style="color: #004d00;">Enter A New Place You've Traveled To Recently</h5>

      <form action="/places" method="post">
        <div class="mb-3 text-start">
          <label for="name_input" class="form-label">Destination Name:</label>
          <input type="text" name="name" id="name_input" class="form-control">
        </div>

        <button class="btn btn-light w-100" style="color: #004d00;">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
